<a href="https://colab.research.google.com/github/Saimahesh805/MongoDB/blob/main/MongodbCRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymongo
import plotly.express as px

In [ ]:
guvi123 = pymongo.MongoClient("mongodb://guvi123:guvi123456@cluster0-shard-00-00.cwagf.mongodb.net:27017,cluster0-shard-00-01.cwagf.mongodb.net:27017,cluster0-shard-00-02.cwagf.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-oewkwi-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
database = guvi123["telephonedirectory"]

In [ ]:
coll = database["phonenumbers"]

In [ ]:
x = {"Name":"ritwik","Phone Number":7854963312,"Place":"Hyderabad"}
coll.insert_one(x)

In [ ]:
y = [{"Name":"farooq","Phone Number":9848123147,"Place":"Hyderabad"},{"Name":"sameena","Phone Number":9848741258,"Place":"kakinada"},
     {"Name":"pramod","Phone Number":9848963258,"Place":"vijayawada"},{"Name":"akshith reddy","Phone Number":9848123456,"Place":"Warangal"}]


coll.insert_many(y)

In [ ]:
a = coll.find_one()
print(a)

{'_id': ObjectId('621eed265f7d0f8a604b3684'), 'Name': 'shruthi', 'Phone Number': 7893214569, 'Place': 'vijaywada'}

In [ ]:
for i in coll.find(): # it will shows the all documents in the collection(coll)
  print(i)

{'_id': ObjectId('621eed265f7d0f8a604b3684'), 'Name': 'shruthi', 'Phone Number': 7893214569, 'Place': 'vijaywada'}
{'_id': ObjectId('621eed265f7d0f8a604b3682'), 'Name': 'Praneeth reddy', 'Phone Number': 7337364414, 'Place': 'vijaywada'}
{'_id': ObjectId('621eed265f7d0f8a604b3685'), 'Name': 'harshitha', 'Phone Number': 7896543218, 'Place': 'Hyderabad'}
{'_id': ObjectId('621eed265f7d0f8a604b3677'), 'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}
{'_id': ObjectId('621eed265f7d0f8a604b3683'), 'Name': 'Sriya', 'Phone Number': 7337341141, 'Place': 'kakinada'}
{'_id': ObjectId('621eed265f7d0f8a604b367d'), 'Name': 'pavani', 'Phone Number': 7412589632, 'Place': 'Hyderabad'}
{'_id': ObjectId('621eed265f7d0f8a604b3681'), 'Name': 'Rahul', 'Phone Number': 7337362212, 'Place': 'Chennai'}
{'_id': ObjectId('621eed265f7d0f8a604b3686'), 'Name': 'sandeep', 'Phone Number': 7337364489, 'Place': 'vijaywada'}
{'_id': ObjectId('621eed265f7d0f8a604b3679'), 'Name': 'sharath', 'Phone Number': 7337364415, 'Place': 'vijaywada'}
{'_id': ObjectId('621eed265f7d0f8a604b367c'), 'Name': 'haritha', 'Phone Number': 7897412315, 'Place': 'Hyderabad'}
{'_id': ObjectId('621eed265f7d0f8a604b367f'), 'Name': 'Srujana', 'Phone Number': 7337364420, 'Place': 'Chennai'}
{'_id': ObjectId('621f90ccdaea09f1d3a18dba'), 'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'_id': ObjectId('621f91e9daea09f1d3a18dbc'), 'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'_id': ObjectId('621f91e9daea09f1d3a18dbd'), 'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}
{'_id': ObjectId('6268d036cdb1ac51a3d9212a'), 'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'_id': ObjectId('6268d038cdb1ac51a3d9212c'), 'Name': 'farooq', 'Phone Number': 9848123147, 'Place': 'Hyderabad'}
{'_id': ObjectId('6268d038cdb1ac51a3d9212d'), 'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'_id': ObjectId('6268d038cdb1ac51a3d9212e'), 'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}
{'_id': ObjectId('6268d038cdb1ac51a3d9212f'), 'Name': 'akshith reddy', 'Phone Number': 9848123456, 'Place': 'Warangal'}

In [ ]:
for i in coll.find({},{"_id":0}):  #here it show the documents without ids   { _id:0}
  print(i)

{'Name': 'shruthi', 'Phone Number': 7893214569, 'Place': 'vijaywada'}
{'Name': 'Praneeth reddy', 'Phone Number': 7337364414, 'Place': 'vijaywada'}
{'Name': 'harshitha', 'Phone Number': 7896543218, 'Place': 'Hyderabad'}
{'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}
{'Name': 'Sriya', 'Phone Number': 7337341141, 'Place': 'kakinada'}
{'Name': 'pavani', 'Phone Number': 7412589632, 'Place': 'Hyderabad'}
{'Name': 'Rahul', 'Phone Number': 7337362212, 'Place': 'Chennai'}
{'Name': 'sandeep', 'Phone Number': 7337364489, 'Place': 'vijaywada'}
{'Name': 'sharath', 'Phone Number': 7337364415, 'Place': 'vijaywada'}
{'Name': 'haritha', 'Phone Number': 7897412315, 'Place': 'Hyderabad'}
{'Name': 'Srujana', 'Phone Number': 7337364420, 'Place': 'Chennai'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'farooq', 'Phone Number': 9848123147, 'Place': 'Hyderabad'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}
{'Name': 'akshith reddy', 'Phone Number': 9848123456, 'Place': 'Warangal'}

In [ ]:
for i in coll.find({"Name":"harshitha"},{"_id":0}):
  print(i)

{'Name': 'harshitha', 'Phone Number': 7896543218, 'Place': 'Hyderabad'}

In [ ]:
for i in coll.find( {"$or": [ {"Name": "ritwik"},{"Name": "sameena"}]}):
  print(i)

{'_id': ObjectId('621f90ccdaea09f1d3a18dba'), 'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'_id': ObjectId('621f91e9daea09f1d3a18dbc'), 'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'_id': ObjectId('6268d036cdb1ac51a3d9212a'), 'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'_id': ObjectId('6268d038cdb1ac51a3d9212d'), 'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}

In [ ]:
list ( coll.find( {"$or": [ {"Name": "pramod"},{"Name": "akshith reddy"} ]}))

[{'Name': 'pramod',
  'Phone Number': 9848963258,
  'Place': 'vijayawada',
  '_id': ObjectId('621f91e9daea09f1d3a18dbd')},
 {'Name': 'pramod',
  'Phone Number': 9848963258,
  'Place': 'vijayawada',
  '_id': ObjectId('6268d038cdb1ac51a3d9212e')},
 {'Name': 'akshith reddy',
  'Phone Number': 9848123456,
  'Place': 'Warangal',
  '_id': ObjectId('6268d038cdb1ac51a3d9212f')}]

In [ ]:
m = coll.find_one({"Place":"vijayawada"},{"_id":0})
print(m)

{'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}

In [ ]:
for i in coll.find({"Place":"Hyderabad"},{"_id":0}):
  print(i)

{'Name': 'harshitha', 'Phone Number': 7896543218, 'Place': 'Hyderabad'}
{'Name': 'pavani', 'Phone Number': 7412589632, 'Place': 'Hyderabad'}
{'Name': 'haritha', 'Phone Number': 7897412315, 'Place': 'Hyderabad'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'farooq', 'Phone Number': 9848123147, 'Place': 'Hyderabad'}

In [ ]:
for i in coll.find({"Place":"vijaywada"},{"_id":0}):
  print(i)

{'Name': 'shruthi', 'Phone Number': 7893214569, 'Place': 'vijaywada'}
{'Name': 'Praneeth reddy', 'Phone Number': 7337364414, 'Place': 'vijaywada'}
{'Name': 'sandeep', 'Phone Number': 7337364489, 'Place': 'vijaywada'}
{'Name': 'sharath', 'Phone Number': 7337364415, 'Place': 'vijaywada'}

In [ ]:
coll.update_one({"Name":"sudheer"},{"$set":{"Phone Number":7898521473}}) # here Phone Number of sudheer is updated to new number
for i in coll.find({"Name":"sudheer"},{"_id":0}):
  print(i)

{'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}

In [ ]:
coll.update_one({"Name":"sudheer"},{"$set":{"Place":"vijayawada"}})     # Place of sudheer is updated to "Hyderabad" to "vijayawada"
for i in coll.find({"Name":"sudheer"},{"_id":0}):
  print(i)

{'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}

In [ ]:
coll.delete_one({"Name": "farooq"})    # Deleted the Name:farooq from the collection
for i in coll.find({"Name":"farooq"},{"_id":0}):
  print(i)

In [ ]:
coll.delete_many({"Place":"Warangal"}) #Place:Warangal is deleted from collection
for i in coll.find({},{"_id":0}):
  print(i)

{'Name': 'shruthi', 'Phone Number': 7893214569, 'Place': 'vijaywada'}
{'Name': 'Praneeth reddy', 'Phone Number': 7337364414, 'Place': 'vijaywada'}
{'Name': 'harshitha', 'Phone Number': 7896543218, 'Place': 'Hyderabad'}
{'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}
{'Name': 'Sriya', 'Phone Number': 7337341141, 'Place': 'kakinada'}
{'Name': 'pavani', 'Phone Number': 7412589632, 'Place': 'Hyderabad'}
{'Name': 'Rahul', 'Phone Number': 7337362212, 'Place': 'Chennai'}
{'Name': 'sandeep', 'Phone Number': 7337364489, 'Place': 'vijaywada'}
{'Name': 'sharath', 'Phone Number': 7337364415, 'Place': 'vijaywada'}
{'Name': 'haritha', 'Phone Number': 7897412315, 'Place': 'Hyderabad'}
{'Name': 'Srujana', 'Phone Number': 7337364420, 'Place': 'Chennai'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}

In [ ]:
coll.delete_one({"Place":"kakinada"}) # here document "Place:Kakinada" is Deleted one document which is in 1st place of collection
for i in coll.find({},{"_id":0}):
  print(i)

{'Name': 'shruthi', 'Phone Number': 7893214569, 'Place': 'vijaywada'}
{'Name': 'Praneeth reddy', 'Phone Number': 7337364414, 'Place': 'vijaywada'}
{'Name': 'harshitha', 'Phone Number': 7896543218, 'Place': 'Hyderabad'}
{'Name': 'sudheer', 'Phone Number': 7898521473, 'Place': 'vijayawada'}
{'Name': 'pavani', 'Phone Number': 7412589632, 'Place': 'Hyderabad'}
{'Name': 'Rahul', 'Phone Number': 7337362212, 'Place': 'Chennai'}
{'Name': 'sandeep', 'Phone Number': 7337364489, 'Place': 'vijaywada'}
{'Name': 'sharath', 'Phone Number': 7337364415, 'Place': 'vijaywada'}
{'Name': 'haritha', 'Phone Number': 7897412315, 'Place': 'Hyderabad'}
{'Name': 'Srujana', 'Phone Number': 7337364420, 'Place': 'Chennai'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}
{'Name': 'ritwik', 'Phone Number': 7854963312, 'Place': 'Hyderabad'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'pramod', 'Phone Number': 9848963258, 'Place': 'vijayawada'}

In [ ]:
for i in coll.find({"Place":"kakinada"},{"_id":0}):
  print(i)

{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}
{'Name': 'sameena', 'Phone Number': 9848741258, 'Place': 'kakinada'}

In [ ]:
coll.delete_many({"place":"kakinada"})                #here document "place":""kakinada" is deleted from collection
for i in coll.find({"place":"kakinada"},{"_id":0}):
  print(i)

In [ ]:
for i in coll.find({"place":"kakinada"},{"_id":0}):   #here document "place":""kakinada" is deleted from collection
  print(i)

In [ ]:
for i in coll.find({"Place":"Mumbai"},{"_id":0}):  #here we have place mumbai has 3 documents
  print(i)

In [ ]:
coll.delete_many({"Place":"Mumbai"})
for i in coll.find({"Place":"Mumbai"},{"_id":0}):       #here all documents of place:Mumbai deleted from collection
  print(i)